---
documents: 'true'
---

{{!< body }}
<nav class="container breadcrumbs only-tablet">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="../../pages/index/index.hbs">{{> "icons/home"}}</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="../../pages/kak-nachat/kak-nachat.hbs">Документы</a>
    </li>
  </ul>
</nav>
<div class="container documents">
  <h1>Прайс-лист</h1>
  <div class="documents__main">
    <ul class="documents__list">
      <li class="documents__item">
        <div class="documents__item-head">
          <h2>Пластик</h2>
          <div class="documents__item-measure">за кг.</div>
        </div>
        <ul>
          <li>
            <div>
              <div class="documents__item-name">ПЭТ-бутылки от напитков<br>
                и растительного масла</div>
              <div class="documents__item-description">Маркировка №1</div>
            </div>
            <div class="documents__item-price">17 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Белые ПЭТ-бутылки</div>
              <div class="documents__item-description">Маркировка №1</div>
            </div>
            <div class="documents__item-price">17 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Кеги пивные коричневые</div>
              <div class="documents__item-description"></div>
            </div>
            <div class="documents__item-price">2 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Небутылочная прозрачная ПЭТ-тара</div>
              <div class="documents__item-description">Маркировка №1</div>
            </div>
            <div class="documents__item-price">2 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Пластиковая тара</div>
              <div class="documents__item-description">Маркировка №2</div>
            </div>
            <div class="documents__item-price">2 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Крышки</div>
              <div class="documents__item-description">Маркировка №2 и №4</div>
            </div>
            <div class="documents__item-price">10 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Канистры</div>
              <div class="documents__item-description">Маркировка №2 и №4</div>
            </div>
            <div class="documents__item-price">5 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Пластиковая тара</div>
              <div class="documents__item-description">Маркировка №5</div>
            </div>
            <div class="documents__item-price">3 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Пластмассовые ящики</div>
              <div class="documents__item-description"></div>
            </div>
            <div class="documents__item-price">3 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Зубные щетки</div>
              <div class="documents__item-description"></div>
            </div>
            <div class="documents__item-price">0 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Пластиковые карты</div>
              <div class="documents__item-description"></div>
            </div>
            <div class="documents__item-price">0 руб.</div>
          </li>
        </ul>
      </li>
      <li class="documents__item">
        <div class="documents__item-head">
          <h2>Макулатура</h2>
          <div class="documents__item-measure">за кг.</div>
        </div>
        <ul>
          <li>
            <div>
              <div class="documents__item-name">Макулатура Микс</div>
              <div class="documents__item-description"></div>
            </div>
            <div class="documents__item-price">6 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Бумага</div>
              <div class="documents__item-description"></div>
            </div>
            <div class="documents__item-price">7 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Картон</div>
              <div class="documents__item-description"></div>
            </div>
            <div class="documents__item-price">6 руб.</div>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="documents__list">
      <li class="documents__item">
        <div class="documents__item-head">
          <h2>Пакеты и пленка</h2>
          <div class="documents__item-measure">за кг.</div>
        </div>
        <ul>
          <li>
            <div>
              <div class="documents__item-name">Стретч-пленка</div>
              <div class="documents__item-description">Сортированная</div>
            </div>
            <div class="documents__item-price">12 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Стретч-пленка</div>
              <div class="documents__item-description">Несортированная</div>
            </div>
            <div class="documents__item-price">8 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Пленка ПВД (пузырчатая)</div>
              <div class="documents__item-description">Сортированная</div>
            </div>
            <div class="documents__item-price">12 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Пленка ПВД (пузырчатая)</div>
              <div class="documents__item-description">Несортированная</div>
            </div>
            <div class="documents__item-price">8 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Плотные и «молочные» пакеты</div>
              <div class="documents__item-description">Маркировка №4</div>
            </div>
            <div class="documents__item-price">3 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Пакеты фасовочные и пакеты-майки</div>
              <div class="documents__item-description"></div>
            </div>
            <div class="documents__item-price">4 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Шуршащие пакеты</div>
              <div class="documents__item-description">Маркировка №5</div>
            </div>
            <div class="documents__item-price">2 руб.</div>
          </li>
        </ul>
      </li>
      <li class="documents__item">
        <div class="documents__item-head">
          <h2>Металл</h2>
          <div class="documents__item-measure">за кг.</div>
        </div>
        <ul>
          <li>
            <div>
              <div class="documents__item-name">Алюминиевые банки</div>
              <div class="documents__item-description"></div>
            </div>
            <div class="documents__item-price">20 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Металлические изделия</div>
              <div class="documents__item-description"></div>
            </div>
            <div class="documents__item-price">0 руб.</div>
          </li>
        </ul>
      </li>
      <li class="documents__item">
        <div class="documents__item-head">
          <h2>Стекло</h2>
          <div class="documents__item-measure">за кг.</div>
        </div>
        <ul>
          <li>
            <div>
              <div class="documents__item-name">Коричневые и бесцветные<br>
стеклянные бутылки</div>
              <div class="documents__item-description"></div>
            </div>
            <div class="documents__item-price">2 руб.</div>
          </li>
          <li>
            <div>
              <div class="documents__item-name">Стеклянные банки, бутылки, стеклобой</div>
              <div class="documents__item-description">Несортированное</div>
            </div>
            <div class="documents__item-price">1 руб.</div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>