<div class="video-preview" video-id="{{videoId}}">
  <div class="img-wrapper">
    <img src="{{img}}" alt="фото">
    {{> "button-video/button-video"}}
  </div>
  <div class="video-preview__number">{{number}} выпуск</div>
  <div class="video-preview__text">{{text}}</div>
</div>