<a class="news-preview" href="../../pages/news/news.hbs">
  <div class="img-wrapper">
    <img src="{{img}}" alt="фото" />
  </div>
  <div class="news-preview__title">{{title}}</div>
  <button class="link">Читать</button>
</a>