<div class="news-preview">
  <div class="img-wrapper">
    <img src="{{img}}" alt="фото">
  </div>
  <div class="news-preview__title">{{title}}</div>
  <button class="btn-open-modal">Читать</button>
</div>