@import "../../styles/mixins";
@import "../../styles/variables";

.news-preview {
  width: 270px;
  text-decoration: none;
  border-radius: 10px;
  transition: all;
  transition-duration: 0.3s;
  position: relative;
  &:hover {
    cursor: pointer;
    transform: scale(1.04);
    @include mobile {
      transform: none;
    }
  }
  @include mobile {
    width: 100%;
  }
  & .img-wrapper {
    padding-bottom: 66.66%;
    background: #d9d9d9;
    border-radius: 10px;
  }
  &__title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #021c13;
    max-width: 240px;
  }
  &__date {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 7px 10px 5px;
    background: #ffffff;
    border-radius: 6px;
    z-index: 10;
    font-weight: 800;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: #021c13;
  }
  & button {
    padding: 0;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: $green;
    background: transparent;
    text-decoration-line: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
  }
}
