<button class="btn-menu-mob button-raund">
  <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 1.5C0.5 1.33424 0.565848 1.17527 0.683058 1.05806C0.800268 0.940848 0.95924 0.875 1.125 0.875H14.875C15.0408 0.875 15.1997 0.940848 15.3169 1.05806C15.4342 1.17527 15.5 1.33424 15.5 1.5C15.5 1.66576 15.4342 1.82473 15.3169 1.94194C15.1997 2.05915 15.0408 2.125 14.875 2.125H1.125C0.95924 2.125 0.800268 2.05915 0.683058 1.94194C0.565848 1.82473 0.5 1.66576 0.5 1.5ZM0.5 7.125C0.5 6.95924 0.565848 6.80027 0.683058 6.68306C0.800268 6.56585 0.95924 6.5 1.125 6.5H14.875C15.0408 6.5 15.1997 6.56585 15.3169 6.68306C15.4342 6.80027 15.5 6.95924 15.5 7.125C15.5 7.29076 15.4342 7.44973 15.3169 7.56694C15.1997 7.68415 15.0408 7.75 14.875 7.75H1.125C0.95924 7.75 0.800268 7.68415 0.683058 7.56694C0.565848 7.44973 0.5 7.29076 0.5 7.125Z" fill="white"/>
  </svg>
</button>