@import "../../styles/mixins";
@import "../../styles/variables";

.btn-menu-mob {
  display: none;
  padding: 0;
  &-close {
    padding: 0;
    background-color: transparent;
    height: fit-content;
    &:hover {
      & svg path {
        fill: $brown;
      }
    }
  }
  @include tablet {
    display: block;
  }
}
