<nav class="breadcrumbs">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link {{#if main }}active{{/if}}" href="../../pages/index/index.hbs">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link {{#if kak-nachat }}active{{/if}}" href="../../pages/kak-nachat/kak-nachat.hbs">Как начать разделять?</a>
    </li>
  </ul>
</nav>
