<header class="header">
  <div class="container">
    {{> "menu-mob/menu-mob"}}
    {{> "logo/logo" link="../../pages/index/index.hbs"}}
    {{> "nav-links/nav-links"}}
    {{> "btn-menu-mob/btn-menu-mob"}}
  </div>
</header>
