@import '../../styles/mixins';
@import '../../styles/variables';

.kak-nachat {
  &-block {
    &__title {
      font-weight: 800;
      font-size: 60px;
      line-height: 100%;
      text-align: center;
      color: $greenDark;
      & b {
        color: $brown;
      }
    }
    &__description {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      text-align: center;
      letter-spacing: -0.02em;
      margin-top: 10px;
    }
  }
  &__list {
    margin-bottom: 120px;
  }
  &__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &:not(:last-child) {
      & .kak-nachat__item-text {
      padding-bottom: 80px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 30px;
        height: 100%;
        width: 4px;
        background-image: url(../../assets/img/line-border.svg);
      }
    }}
    &-main {
      display: flex;
    }
    &-number {
      font-weight: 800;
      font-size: 96px;
      line-height: 1;
      text-transform: uppercase;
      padding-right: 96px;
      color: $greenDark;
      width: 103px;
      box-sizing: content-box;
    }
    &-text {
      padding-left: 100px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        transform: translateX(-50%);
        left: 2px;
        top: 0;
        height: 32px;
        width: 32px;
        background-color: $greenLight;
        border-radius: 50%;
        border: 4px solid white;
        box-sizing: border-box;
      }
      
    }
    &-title {
      font-weight: 800;
      font-size: 40px;
      line-height: 1;
      color: $greenDark;
      & b {
        color: $brown;
      }
    }
    &-description {
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: -0.02em;
      margin-top: 20px;
    }
    & .button {
      justify-self: flex-end;
      width: 300px;
      & svg {
        margin-right: 9px;
      }
    }
  }
  &-welcome {
    display: flex;
    &__info {
      width: 44.25%;
    }
    &__pretitle {
      font-weight: 900;
      font-size: 30px;
      line-height: 110%;
      text-transform: uppercase;
      color: #021C13;
      margin-bottom: 10px;
    }
    &__title {
      font-weight: 900;
      font-size: 60px;
      line-height: 110%;
      text-transform: uppercase;
      color: #021C13;
      margin-bottom: 22px;
      & b {
        color: $brown;
      }
    }
    &__description {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -0.02em;
      margin-bottom: 28px;
    }
    &__place {
      font-weight: 800;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $green;
      margin-bottom: 10px;
    }
    &__text {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -0.02em;
      margin-bottom: 20px;
    }
    &__buttons {
      margin-top: 22px;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & .button {
      width: 100%;
    }
    &__link {
      margin-top: 20px;
    }
    &__img {
      flex: 1;
      padding-right: 8%;
      & .img-wrapper {
        padding-bottom: 71.4%;
        background: #D9D9D9;
        border-radius: 20px;
        transform: rotate(-8.75deg);
      }
    }
  }
  &-video {
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .video {
      margin-top: 50px;
    }
  }
  
}
.memory {
  margin-bottom: 170px;
  &__item {
    width: 250px;
    height: 350px;
    border-radius: 16px;
    position: relative;
    overflow: visible;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.other {
      & .memory {
        &__title {
          font-size: 38px;
          &::before {
            right: -16px;
            left: -16px;
          }
        } 
        &__for {
          font-weight: 700;
          text-transform: none;
        }
      }
    }
  }
  &__pretitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 18px;
    color: $greenDark;
  }
  &__title {
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    font-weight: 900;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    background-color: white;
    position: relative;
    & span {
      position: relative;
      z-index: 11;
    }
    &::before {
      content: '';
      background-color: #FFFFFF;
      top: -8px;
      bottom: -8px;
      left: -10px;
      right: -10px;
      border-radius: 10px;
      position: absolute;
      z-index: 9;
    }
    &:not(:first-child):not(:last-child)::before {
      top: -12px;
      bottom: -12px;
      right: -12px;
      left: -12px;
    }
  }
  
  &__for {
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: $greenDark;
    margin-top: 27px;
  }
  &__size {
    font-weight: 800;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 7px 10px 5px;
    border-radius: 12px;
    margin-top: 20px;
  }
  & .button {
    font-size: 14px;
    width: 196px;
    height: 40px;
    position: absolute;
    transform: translate(-50%, 50%);
    bottom: 0;
    left: 50%;
  }
  & .swiper {
    margin-top: 40px;
    overflow: visible;
    height: fit-content;
    &-wrapper {
      display: flex;
      justify-content: center;
      gap: 10%;
      width: 100%;
      padding-top: 10px;
    }
    &-slide {
      width: 250px;
      height: 350px;
      overflow: visible;
      &::before {
        content: '';
        position: absolute;
        z-index: 0;
        width: 228px;
        height: 100%;
        transform: translateX(-50%);
        top: -10px;
        left: 50%;
        opacity: 0.4;
        border-radius: 16px;
      }
      &:nth-child(2n - 1) .memory__item,
      &:nth-child(2n - 1)::before {
        background-image: url(../../assets/img/bg-craft-paper-brown.png);
      }
      &:nth-child(2n) .memory__item,
      &:nth-child(2n)::before {
        background-image: url(../../assets/img/bg-craft-paper.png);
      }
      &:nth-child(2n - 1) {
        & .memory {
          &__size {
          background-color: $greenLight;
          }
          &__title {
            color: $greenLight;
          }
        }
      }
      &:nth-child(2n) {
        & .memory {
          &__size {
          background-color: $brown;
          }
          &__title {
            color: $brown;
          }
        }
      }
    }
  }
}