
<div class="footer__buttons">
  <a class="button reg-oper brown-hover" href="#" target="_blank">перейти на сайт регоператора</a>
  <a class="button vk" href="https://vk.com/regoperatorudmurtia" target="_blank">{{> "icons/vk" }}<span>сообщество в ВК</span></a>
  <a class="button tg" href="https://t.me/regoperatorudmurtia" target="_blank">{{> "icons/tg" }}<span>Телеграм-канал</span></a>
</div>
