<footer class="footer">
  <div class="container">
   <div>
    {{> "logo/logo"}}
    <a class="footer__tel" href="tel:+">+7 (3412) 570-454</a>
    <div class="footer__time">с 10:00 до 20:00</div>
    <div class="footer__time footer__time-small">Ежедневно, без выходных</div>
    <div class="footer__time footer__time-small">Обед: с 14:00 до 15:00</div>
   </div>
   {{> "nav-links/nav-links"}}
   <div class="footer__buttons">
      <a class="button reg-oper brown-hover" href="#" target="_blank">перейти на сайт регоператора</a>
      <a class="button vk" href="#" target="_blank">{{> "icons/vk" }}<span>сообщество в ВК</span></a>
      <a class="button tg" href="#" target="_blank">{{> "icons/tg" }}<span>Телеграм-канал</span></a>
   </div>
  </div>
</footer>
