<div class="shot-raund-radius__wrapper" {{#if popup}} data-popup="{{popup}}" {{/if}}>
  <a class="button-singin shot-raund-radius" {{#if link}} href="{{link}}" {{/if}} >
    <div class="shot-raund-radius-border-left">
      <div class="shot-raund-radius-border-left__bg"></div>
    </div>
    <div class="shot-raund-radius-border-right">
      <div class="shot-raund-radius-border-left__bg"></div>
    </div>
    {{text}}
    <div class="button-singin__text">
      {{text}}
    </div>
  </a>
</div>