---
heplfull: 'true'
---

{{!< body }}
<nav class="container breadcrumbs only-tablet">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="../../pages/index/index.hbs">{{> "icons/home"}}</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="../../pages/kak-nachat/kak-nachat.hbs">Полезные статьи</a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="article">
    <h2 class="article__title">Осторожно, пластик!</h2>
    <div class="article__description">Какой пластик не поддается переработке и&nbsp;чем&nbsp;его можно заменить</div>
    <div class="article__list">
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
    </div>
  </div>
  <div class="article">
    <h2 class="article__title">Что делать с&nbsp;разными<br>
      видами отходов</h2>
    <div class="article__description">Как их утилизировать, не навредив экологии</div>
    <div class="article__list">
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
    </div>
  </div>
  <div class="article">
    <h2 class="article__title">От забора до&nbsp;брусчатки</h2>
    <div class="article__description">Что производят в Удмуртии из&nbsp;сортированных&nbsp;отходов</div>
    <div class="article__list">
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
    </div>
  </div>
</div>