---
heplfull: 'true'
---

{{!< body }}
<div class="container">
  <div class="article">
    <h2 class="article__title">Осторожно, пластик!</h2>
    <div class="article__description">Какой пластик не поддается переработке и чем его можно заменить</div>
    <div class="article__list">
      <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
        <div class="modal news">
          {{> "icons/close-btn" }}
          <div class="news__gallery">
            <div class="slider">
              <div class="swiper">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="img-wrapper">
                      <img class="swiper-lazy" src="../../assets/img/favicon.svg" data-src="/news.9b0fc75d.png" imgmini="/news.9b0fc75d.png"/>
                      <div class="swiper-lazy-preloader"></div> 
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img-wrapper">
                      <img class="swiper-lazy" src="../../assets/img/favicon.svg" data-src="/news.9b0fc75d.png" imgmini="/news.9b0fc75d.png"/>
                      <div class="swiper-lazy-preloader"></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img-wrapper">
                      <img class="swiper-lazy" src="../../assets/img/favicon.svg" data-src="/news.9b0fc75d.png" imgmini="/news.9b0fc75d.png"/>
                      <div class="swiper-lazy-preloader"></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img-wrapper">
                      <img class="swiper-lazy" src="../../assets/img/favicon.svg" data-src="/news.9b0fc75d.png" imgmini="/news.9b0fc75d.png"/>
                      <div class="swiper-lazy-preloader"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navigation"></div>
          </div>
          <div class="news__info">
            <div class="news__warn plash plash-brown"><b>осторожно, пластик!</b></div>
            <h2 class="news__title">Дело №1:<br> одноразовая посуда</h2>
            <h3>Цель:</h3>
            <p>Завсегдатай дачных посиделок, спутник массовых мероприятий, кулеров<br> в офисах и кафе с едой на вынос. Для производства "походных" наборов - одноразовых ложек, вилок, тарелок, стаканчиков — применяется<br> множество материалов.</p>
            <p>Самый дешёвый вариант - полистирол (маркировка 6 или PS) и <br>полипропилен (маркировка 5 или PP). Одноразовая "бумажная" посуда только частично состоит из картона. Чтобы ничего не протекло её изнутри покрывают полимерной плёнкой. Иногда работает "под прикрытием", выдавая себя за экологичную: на упаковке может быть написано "из биопластика", "с использованием кукурузного крахмала". Не верьте!</p>
            <h3>Досье:</h3>
            <p>Полистирол — самый коварный. При контакте с горячими продуктами<br> и жидкостями выделяет стирол. Есть, пить из него опасно. А ещё "шестёрка" практически не перерабатывается в России.</p>
            <p>"Пятёрка", она же полипропилен, безопасна для здоровья. В некоторых регионах страны принимается в пунктах приёма. Мы в Экодомах PP принимаем. Но есть сомнения, что все сотни тысяч стаканчиков, которые используются в Удмуртии, попадают к нам в пункты. Если оказываютсяЕсли бы приём автошин был выгоден, то их бы, как ПЭТ, макулатуру или алюминий, принимали все и везде. Но реальность пока другая, и в ней мы предлагаем вам вариант цивилизованного обращения с этим видом отходов. Пользоваться или нет этой<br> услугой — решение за каждым из нас.в мусорном баке, то шансов на переработку у них нет. Разлагаться на полигоне будут лет 500-600.</p>
            <p>С бумажными стаканчиками история неоднозначная: их и не переработать — это не чистый пластик, и не компостировать из-за пластиковой плёнки.<br> Кентавр, которому нет места нигде, кроме как на полигоне.</p>
            <h3>Ликвидация:</h3>
            <p>Смело проходим мимо прилавков с одноразовой посудой, пользуемся<br> удобными и красивыми многоразовыми приборами и тарелками, в кофейнях просим "Мне в своё" и протягиваем бариста термокружку. От трубочек по возможности отказываемся на фудкортах и в барах. На крайний случай продаются многоразовые трубочки. Они, кстати, намного эстетичнее выглядят</p>
          </div>
        </div>
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
        <div class="modal news">
          {{> "icons/close-btn" }}
          <div class="news__gallery">
            <div class="slider">
              <div class="swiper">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="img-wrapper">
                      <img class="swiper-lazy" src="../../assets/img/favicon.svg" data-src="/news.9b0fc75d.png" imgmini="/news.9b0fc75d.png"/>
                      <div class="swiper-lazy-preloader"></div> 
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img-wrapper">
                      <img class="swiper-lazy" src="../../assets/img/favicon.svg" data-src="/news.9b0fc75d.png" imgmini="/news.9b0fc75d.png"/>
                      <div class="swiper-lazy-preloader"></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img-wrapper">
                      <img class="swiper-lazy" src="../../assets/img/favicon.svg" data-src="/news.9b0fc75d.png" imgmini="/news.9b0fc75d.png"/>
                      <div class="swiper-lazy-preloader"></div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="img-wrapper">
                      <img class="swiper-lazy" src="../../assets/img/favicon.svg" data-src="/news.9b0fc75d.png" imgmini="/news.9b0fc75d.png"/>
                      <div class="swiper-lazy-preloader"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navigation"></div>
          </div>
          <div class="news__info">
            <h2 class="news__title">Куда сдать старые<br>
                автошины в Ижевске? </h2>
            <p>Старые колёса можно привезти на «Экопост» в Ленинском районе Ижевска по адресу ул. Короткая, 31а.</p>
            <h3>Цель:</h3>
            <p>До 19 радиуса включительно — 100 рублей / 1 шина<br>
            С 20 радиуса включительно и выше — 150 рублей /1 шина</p>

            <p>За утилизацию колёс платит их собственник. Не автомобилистам платят, а автомобилисты оплачивают сдачу своих колёс. Иного законного варианта нет. Подбросить на контейнерные площадки у дома… так себе идея для экологически окрепших людей.</p>
            <h3>Почему так:</h3>
            <ul>
              <li><span>01</span>
                <p>В Ижевске, как и по всей России, сбор шин централизованно,<br> всесезонно, беспроблемно не организован. Покрышки принимают<br> точечно в нескольких шинных и автотехцентрах Удмуртии.<br> Куда именно их вывозят оттуда - на переработку, в овраг или<br> подкидывают на площадки — неизвестно.</p>
              </li>
              <li><span>02</span><p>За деньги их не выкупает никто. Если вы знаете, где за них платят,<br> расскажите. Мы все туда поедем.</p></li>
              <li><span>03</span><p>«Экопост» даёт 100% гарантию, что шины поедут на утилизацию.<br> Наша компания выдаёт чеки об оплате, а значит платит налоги,<br> отчитывается перед надзорными органами. В стоимость приёма<br> покрышек включены погрузка, транспортные услуги и оплата их<br> сдачи на перерабатывающие заводы. Подавляющее большинство<br> предприятий России берёт шины только, если за их утилизацию<br> заплатит сдающий.</p></li>
              <li><span>04</span><p>Если бы приём автошин был выгоден, то их бы, как ПЭТ,<br> макулатуру или алюминий, принимали все и везде. Но реальность<br> пока другая, и в ней мы предлагаем вам вариант цивилизованного<br> обращения с этим видом отходов. Пользоваться или нет этой<br> услугой — решение за каждым из нас.</p></li>
              <li><span>05</span><p>Раздельный сбор в нашей стране — это вообще история для<br> окрепших духом. Всё, что экологично — требует от нас хоть<br> каких-то усилий и перезагруженной головы.</p></li>
            </ul>
          </div>
        </div>
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
    </div>
  </div>
  <div class="article">
    <h2 class="article__title">Что делать с разными<br>
      видами отходов</h2>
    <div class="article__description">Как их утилизировать, не навредив экологии</div>
    <div class="article__list">
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
    </div>
  </div>
  <div class="article">
    <h2 class="article__title">От забора до брусчатки</h2>
    <div class="article__description">Что производят в Удмуртии из сортированных отходов</div>
    <div class="article__list">
      <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
       <div class="article__item modal-wrapper">
        {{> "news-preview/news-preview" img="../../assets/img/news/news.png" title="#ЧистоПоУдмуртски на Байкале"}}
      </div>
    </div>
  </div>
</div>