<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link {{#if main }}active{{/if}}" href="../../pages/index/index.hbs">Главная</a>
    </li>
    <li class="nav__item">
      <a class="nav__link {{#if kak-nachat }}active{{/if}}" href="../../pages/kak-nachat/kak-nachat.hbs">Как начать разделять?</a>
    </li>
    <li class="nav__item">
      <a class="nav__link {{#if video-project }}active{{/if}}" href="../../pages/video-project/video-project.hbs">Видеопроект #ЧистоПоУдмуртски</a>
    </li>
    <li class="nav__item">
      <a class="nav__link {{#if heplfull }}active{{/if}}" href="../../pages/heplfull/heplfull.hbs">Полезные статьи</a>
    </li>
    <li class="nav__item">
      <a class="nav__link {{#if welcome-to-ecodom }}active{{/if}}" href="../../pages/welcome-to-ecodom/welcome-to-ecodom.hbs">Экскурсия в Экодом</a>
    </li>
    <li class="nav__item">
      <a class="nav__link {{#if documents }}active{{/if}}" href="../../pages/documents/documents.hbs">Документы</a>
    </li>
  </ul>
</nav>
