---
welcome-to-ecodom: 'true'
---

{{!< body }}
<div class="container welcome bg-craft">
  <div class="welcome__info">
    <h1 class="welcome__title">
      Бесплатные групповые<br>
      экскурсии в Экодом<br>
      <span>для детей и взрослых<span>
    </h1>
    <div class="welcome__description">
      Соберите группу от 10 до 25 человек и приходите
      на бесплатную экскурсию в Экодом!
    </div>
    <ul class="welcome__list">
      <li class="welcome__item">
        <b>Покажем стадии переработки</b> разных видов отходов и что из них получается на наших местных предприятиях
      </li>
      <li class="welcome__item">
        <b>Расскажем, как можно сократить</b> количество мусора в жизни вашей семьи и покажем экологичные альтернативы
      </li>
      <li class="welcome__item">
        <b>Рассортируем вместе отходы</b> в игровые контейнеры и разберёмся с каждым видом сырья
      </li>
      <li class="welcome__item">
        <b>Посчитаем сколько можно заработать</b> на карманные расходы, сдавая вторсырье,<br> и тут же выдадим деньги за принесенное 
      </li>
      <li class="welcome__item">
        <b>Подарим светоотражающие фликеры,</b> сделанные из пластиковых карт и карандаши<br> из переработанной макулатуры
      </li>
    </ul>
    <a href="" class="button">Записаться на экскурсию</a>
  </div>
  <div class="welcome__galery">
    <div class="welcome__galery-wrapper">
      <div class="img-wrapper">
        <img alt="фото">
      </div>
      <div class="img-wrapper">
        <img alt="фото">
      </div>
      <div class="img-wrapper">
        <img alt="фото">
      </div>
    </div>
    <div class="welcome__galery-wrapper">
      <div class="img-wrapper">
        <img alt="фото">
      </div>
      <div class="img-wrapper">
        <img alt="фото">
      </div>
      <div class="img-wrapper">
        <img alt="фото">
      </div>
    </div>
  </div>
</div>