---
welcome-to-ecodom: 'true'
---

{{!< body }}
<nav class="container breadcrumbs only-tablet">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="../../pages/index/index.hbs">{{> "icons/home"}}</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="../../pages/kak-nachat/kak-nachat.hbs">Экскурсия в Экодом</a>
    </li>
  </ul>
</nav>
<div class="container welcome bg-craft">
  <div class="welcome__info">
    <h1 class="welcome__title">
      Бесплатные групповые<br>
      экскурсии в Экодом<br>
      <span>для детей и&nbsp;взрослых<span>
    </h1>
    <div class="welcome__description">
      Соберите группу от 10 до 25 человек и&nbsp;приходите
      на бесплатную экскурсию в&nbsp;Экодом!
    </div>
    {{> "slider-mobile/slider-mobile"}}
    <ul class="welcome__list">
      <li class="welcome__item">
        <b>Покажем стадии переработки</b> разных видов отходов и что из них получается на&nbsp;наших местных предприятиях
      </li>
      <li class="welcome__item">
        <b>Расскажем, как можно сократить</b> количество мусора в жизни вашей семьи и покажем экологичные альтернативы
      </li>
      <li class="welcome__item">
        <b>Рассортируем вместе отходы</b> в&nbsp;игровые контейнеры и разберёмся с&nbsp;каждым видом сырья
      </li>
      <li class="welcome__item">
        <b>Посчитаем сколько можно заработать</b> на карманные расходы, сдавая вторсырье,<br> и тут же выдадим деньги за&nbsp;принесенное 
      </li>
      <li class="welcome__item">
        <b>Подарим светоотражающие фликеры,</b> сделанные из пластиковых карт и&nbsp;карандаши<br> из переработанной макулатуры
      </li>
    </ul>
    <a target="_blank" href="https://dikidi.net/688565" class="button">Записаться на экскурсию</a>
  </div>
  <div class="welcome__galery">
    <div class="welcome__galery-wrapper">
      <div class="img-wrapper" data-aos="fade-down-right">
        <img alt="фото">
      </div>
      <div class="img-wrapper" data-aos="fade-left" data-aos-delay="100">
        <img alt="фото">
      </div>
      <div class="img-wrapper" data-aos="fade-up-right" data-aos-delay="200">
        <img alt="фото">
      </div>
    </div>
    <div class="welcome__galery-wrapper">
      <div class="img-wrapper" data-aos="zoom-in" data-aos-delay="300">
        <img alt="фото">
      </div>
      <div class="img-wrapper" data-aos="fade-up-right" data-aos-delay="0">
        <img alt="фото">
      </div>
      <div class="img-wrapper" data-aos="fade-up-left" data-aos-delay="0">
        <img alt="фото">
      </div>
    </div>
  </div>
</div>