---
video-project: 'true'
---

{{!< body }}
<div class="header-craft">
  <div class="container">
    <h1 class="header-craft__title">#ЧистоПоУдмуртски</h1>
    <div class="header-craft__description">Спецпроект о переработке отходов в Удмуртии</div>
  </div>
</div>
<div class="container">
  <div class="article__list">
    <div class="article__item">
      
    </div>
  </div>
</div>