<div class="kak-nachat-welcome">
  <div class="kak-nachat-welcome__info">
    <div class="kak-nachat-welcome__pretitle">Приходите на</div>
    <div class="kak-nachat-welcome__title"><b>бесплатную<br />
        экскурсию</b><br />
      в экодом</div>
    <div class="kak-nachat-welcome__img">
      <div class="img-wrapper">
        <img src="../../assets/img/kak-nachat-welcome__img.jpg" alt="фото" />
      </div>
    </div>
    <div class="kak-nachat-welcome__description">Каждую неделю во вторник, среду
      и&nbsp;четверг.<br />
      Для детей и взрослых группами от 10 до 25 человек</div>
    <div class="kak-nachat-welcome__place">Место проведения</div>
    <div class="kak-nachat-welcome__text">ул. Холмогорова, 11<br />
      <span>Экодом у ТЦ «Талисман»</span></div>
    <div class="kak-nachat-welcome__text">Нужна предварительная запись</div>
    <div class="kak-nachat-welcome__buttons">
      <a
        target="_blank"
        href="https://dikidi.net/688565"
        class="button"
      >Записаться на экскурсию</a>
      <a
        href="../../pages/welcome-to-ecodom/welcome-to-ecodom.hbs"
        class="kak-nachat-welcome__link link"
      >Подробнее об экскурсии</a>
    </div>
  </div>
  <div class="kak-nachat-welcome__img"></div>

</div>