<div class="menu-mob__wrapper">
  <div class="menu-mob container">
    <div class="menu-mob__header">
      {{> "logo/logo"}}
      {{> "btn-menu-mob/btn-menu-mob-close"}}
    </div>
    {{> "nav-links/nav-links"}}
    <a class="footer__tel" href="tel:+">+7 (3412) 570-454</a>
      <div class="footer__time">с 10:00 до 20:00</div>
      <div class="footer__time footer__time-small">Обед: с 14:00 до 15:00</div>
    {{> "footer-buttons/footer-buttons"}}
  </div>
</div>