<a class="eco-lavka__item">
  <div class="img-wrapper">
    <img src="{{img}}" alt="фото" />
  </div>
  <div class="eco-lavka__item-info">
    <div class="eco-lavka__item-count">{{count}} руб.</div>
    <div class="eco-lavka__item-name">{{name}}</div>
    <div class="eco-lavka__item-description">{{description}}</div>
  </div>
</a>