<div class="swiper slider-mobile">
  <div class="swiper-button-prev">{{>"slider-button/slider-button"}}</div>
  <div class="swiper-button-next">{{>"slider-button/slider-button"}}</div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="img-wrapper">
        <img class="swiper-lazy" src="../../assets/img/slider-mobile.png" data-src="/slider-mobile.png"/>
        <div class="swiper-lazy-preloader"></div> 
      </div>
    </div>
    <div class="swiper-slide">
      <div class="img-wrapper">
        <img class="swiper-lazy" src="../../assets/img/slider-mobile.png" data-src="/slider-mobile.3727b8d8.png"/>
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="img-wrapper">
        <img class="swiper-lazy" src="../../assets/img/slider-mobile.png" data-src="/slider-mobile.3727b8d8.png"/>
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="img-wrapper">
        <img class="swiper-lazy" src="../../assets/img/slider-mobile.png" data-src="/slider-mobile.3727b8d8.png"/>
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
  </div>
</div>