<div class="swiper slider-mobile">
  <div class="swiper-button-prev">{{>"slider-button/slider-button"}}</div>
  <div class="swiper-button-next">{{>"slider-button/slider-button"}}</div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="img-wrapper">
        <img class="swiper-lazy" src="../../assets/img/slider-mobile.jpg" data-src="/slider-mobile.c9d669fd.jpg"/>
        <div class="swiper-lazy-preloader"></div> 
      </div>
      <p>Здесь будет подпись к фото, объясняющая, что на нем отражено. Может быть в 2 и более строк. Здесь будет подпись к фото, объясняющая, что на нем отражено. Может быть в 2 и более строк. Здесь будет подпись к фото, объясняющая, что на нем отражено. Может быть в 2 и более строк.</p>
    </div>
    <div class="swiper-slide">
      <div class="img-wrapper">
        <img class="swiper-lazy" src="../../assets/img/slider-mobile.jpg" data-src="/slider-mobile.c9d669fd.jpg"/>
        <div class="swiper-lazy-preloader"></div>
      </div>
      <p>Здесь будет подпись к фото, объясняющая, что на нем отражено. Может быть в 2 и более строк.</p>
    </div>
    <div class="swiper-slide">
      <div class="img-wrapper">
        <img class="swiper-lazy" src="../../assets/img/slider-mobile.jpg" data-src="/slider-mobile.c9d669fd.jpg"/>
        <div class="swiper-lazy-preloader"></div>
      </div>
      <p>Здесь будет подпись к фото, объясняющая, что на нем отражено. Может быть в 2 и более строк.</p>
    </div>
    <div class="swiper-slide">
      <div class="img-wrapper">
        <img class="swiper-lazy" src="../../assets/img/slider-mobile.jpg" data-src="/slider-mobile.c9d669fd.jpg"/>
        <div class="swiper-lazy-preloader"></div>
      </div>
      <p>Здесь будет подпись к фото, объясняющая, что на нем отражено. Может быть в 2 и более строк.</p>
    </div>
  </div>
</div>