<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    id="viewport"
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <title>{{title}}</title>
  <meta property="og:image" content="../../assets/img/snippet.png" />
  <link rel="stylesheet" href="../../styles/style.css" />
  <link rel="icon" href="../../assets/img/favicon.svg" type="image/svg+xml" />
  <script type="module" src="../../assets/js/index.ts"></script>
  <script
    src="https://api-maps.yandex.ru/2.1/?033a4a31-e0f3-424a-84b5-e6789505979d&lang=ru_RU"
    type="text/javascript"
  >
  </script>
</head>