<html lang="en">
  {{> "head/head"}}
  <body>
      <div class="modal-overlay"></div>
      {{> "header/header"}}
      <main>
        {{{body}}}
      </main>
      {{> "footer/footer"}}
  </body>
</html>
