<div class="button-video">
  <svg
    width="140"
    height="140"
    viewBox="0 0 140 140"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      cx="70"
      cy="70"
      r="66"
      fill="#78C887"
      fill-opacity="0.8"
      stroke="white"
      stroke-width="8"
    ></circle>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M57.0496 56.671C57.0496 53.6764 60.2605 51.778 62.8855 53.2207L87.1195 66.5515C89.839 68.0467 89.839 71.9548 87.1195 73.45L62.8876 86.7808C60.2626 88.2235 57.0517 86.3251 57.0517 83.3305V56.671H57.0496Z"
      fill="white"
    ></path>
  </svg>

</div>