<div class="button-video">
  <svg width="33" height="36" viewBox="0 0 33 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0495605 4.67103C0.0495605 1.67643 3.26046 -0.221968 5.88546 1.22073L30.1195 14.5515C32.839 16.0467 32.839 19.9548 30.1195 21.45L5.88756 34.7808C3.26256 36.2235 0.0516604 34.3251 0.0516604 31.3305V4.67103H0.0495605Z" fill="white"/>
  </svg>
</div>