<ul class="content__list">
  <li class="content__item">
    <div class="content__main">
      <div>
        <div class="content__name">ПЭТ-бутылки от напитков<br />
          и растительного масла</div>
        <div class="content__mark-text">Маркировка №1</div>
        <div class="content__price">
          <div>
            <b>17</b>руб / кг.
            <small>от 100 г.</small>
          </div>
          <div class="content__mark">
            <img src="../../assets/img/main/mark.svg" alt="pet 1" />
          </div>
        </div>
      </div>
      <div class="content__img">
        <img src="../../assets/img/main/send-product-1.png" alt="" />
      </div>
    </div>
    <div class="content__rules">
      <div class="content__rules-plus">
        <div class="content__rules__title">Правила приёма:</div>
        <ul>
          <li class="content__rules__item">Ополосните, удалите следы жира,
            спрессуйте.</li>
          <li class="content__rules__item">На бутылке обязательно должна быть
            маркировка.<br />
            Можно сдать вместе с крышкой и этикеткой.</li>
        </ul>
      </div>
      <div class="content__rules-minus">
        <div class="content__rules__title">Не принимается:</div>
        <ul>
          <li class="content__rules__item">Бутылки ярко-кислотных цветов</li>
          <li class="content__rules__item">Бутылки объёмом более 5 литров</li>
        </ul>
      </div>
    </div>
    <div class="content__warn">Белые ПЭТ-бутылки и кеги из ПЭТа<br />
      принимаются отдельно (смотрите ниже)</div>
  </li>
  <li class="content__item">
    <div class="content__main">
      <div>
        <div class="content__name">Белые ПЭТ-бутылки от напитков</div>
        <div class="content__mark-text">Маркировка №1</div>
        <div class="content__price">
          <div>
            <b>7</b>руб / кг.
            <small>от 100 г.</small>
          </div>
          <div class="content__mark">
            <img src="../../assets/img/main/mark.svg" alt="pet 1" />
          </div>
        </div>
      </div>
      <div class="content__img">
        <img src="../../assets/img/main/send-product-2.png" alt="" />
      </div>
    </div>
    <div class="content__rules">
      <div class="content__rules-plus">
        <div class="content__rules__title">Правила приёма:</div>
        <ul>
          <li class="content__rules__item">Ополосните, удалите следы жира,
            спрессуйте.</li>
          <li class="content__rules__item">На бутылке обязательно должна быть
            маркировка.<br />
            Можно сдать вместе с крышкой и этикеткой.</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="content__item">
    <div class="content__main">
      <div>
        <div class="content__name">Кеги пивные коричневые</div>
        <div class="content__mark-text">Маркировка №1</div>
        <div class="content__price">
          <div>
            <b>2</b>руб / кг.
            <small>от 100 г.</small>
          </div>
          <div class="content__mark">
            <img src="../../assets/img/main/mark.svg" alt="pet 1" />
          </div>
        </div>
      </div>
      <div class="content__img">
        <img src="../../assets/img/main/send-product-3.png" alt="" />
      </div>
    </div>
    <div class="content__rules">
      <div class="content__rules-plus">
        <div class="content__rules__title">Правила приёма:</div>
        <ul>
          <li class="content__rules__item">Слейте остатки напитков, ополосните
            тару.</li>
          <li class="content__rules__item">Снимите внутренний клапан. Если снять
            клапан<br />
            невозможно, можно сдать вместе с ним.</li>
        </ul>
      </div>
      <div class="content__rules-minus">
        <div class="content__rules__title">Не принимается:</div>
        <ul>
          <li class="content__rules__item">На ул. Молодежная, 107а</li>
        </ul>
      </div>
    </div>
  </li>
</ul>